-- Fix chat table permissions by adding proper RLS policies
-- Run this in your Supabase SQL editor

-- Enable RLS on chat tables
ALTER TABLE public.chats ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.chat_participants ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.chat_messages ENABLE ROW LEVEL SECURITY;

-- Drop existing policies if they exist
DROP POLICY IF EXISTS "Users can view chats they participate in" ON public.chats;
DROP POLICY IF EXISTS "Users can create chats" ON public.chats;
DROP POLICY IF EXISTS "Users can update chats they participate in" ON public.chats;
DROP POLICY IF EXISTS "Users can view chat participants" ON public.chat_participants;
DROP POLICY IF EXISTS "Users can join chats" ON public.chat_participants;
DROP POLICY IF EXISTS "Users can view messages in chats they participate in" ON public.chat_messages;
DROP POLICY IF EXISTS "Users can send messages in chats they participate in" ON public.chat_messages;
DROP POLICY IF EXISTS "Users can update their own messages" ON public.chat_messages;

-- Chats table policies
CREATE POLICY "Users can view chats they participate in" ON public.chats
  FOR SELECT USING (
    customer_id = auth.uid() OR tasker_id = auth.uid()
  );

CREATE POLICY "Users can create chats" ON public.chats
  FOR INSERT WITH CHECK (
    customer_id = auth.uid() OR tasker_id = auth.uid()
  );

CREATE POLICY "Users can update chats they participate in" ON public.chats
  FOR UPDATE USING (
    customer_id = auth.uid() OR tasker_id = auth.uid()
  );

-- Chat participants table policies
CREATE POLICY "Users can view chat participants" ON public.chat_participants
  FOR SELECT USING (
    EXISTS (
      SELECT 1 FROM public.chats 
      WHERE chats.id = chat_participants.chat_id 
      AND (chats.customer_id = auth.uid() OR chats.tasker_id = auth.uid())
    )
  );

CREATE POLICY "Users can join chats" ON public.chat_participants
  FOR INSERT WITH CHECK (
    user_id = auth.uid() AND
    EXISTS (
      SELECT 1 FROM public.chats 
      WHERE chats.id = chat_participants.chat_id 
      AND (chats.customer_id = auth.uid() OR chats.tasker_id = auth.uid())
    )
  );

-- Chat messages table policies
CREATE POLICY "Users can view messages in chats they participate in" ON public.chat_messages
  FOR SELECT USING (
    EXISTS (
      SELECT 1 FROM public.chats 
      WHERE chats.id = chat_messages.chat_id 
      AND (chats.customer_id = auth.uid() OR chats.tasker_id = auth.uid())
    )
  );

CREATE POLICY "Users can send messages in chats they participate in" ON public.chat_messages
  FOR INSERT WITH CHECK (
    sender_id = auth.uid() AND
    EXISTS (
      SELECT 1 FROM public.chats 
      WHERE chats.id = chat_messages.chat_id 
      AND (chats.customer_id = auth.uid() OR chats.tasker_id = auth.uid())
    )
  );

CREATE POLICY "Users can update their own messages" ON public.chat_messages
  FOR UPDATE USING (
    sender_id = auth.uid()
  );

-- Grant necessary permissions to authenticated users
GRANT SELECT, INSERT, UPDATE ON public.chats TO authenticated;
GRANT SELECT, INSERT, UPDATE ON public.chat_participants TO authenticated;
GRANT SELECT, INSERT, UPDATE ON public.chat_messages TO authenticated;

-- Grant usage on sequences if they exist
GRANT USAGE ON ALL SEQUENCES IN SCHEMA public TO authenticated;
